<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success - SPM</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<style>
	body{
background-color:#d3d3d3;
}
	</style>
</head>
<body>
<br>
<br>
	<div class="container text-center">
		<h3>You have signed up successfully!</h3>
		<h4><a th:href="@{/login}">Click here to Login</a></h4>
	</div>
	
</body>
footer>
<br/>
<br/>
<br/>
<br/>
<hr/>
<center><p><b>Copyright © 2021</b> SpringBoot Product Management by <i>Milind Krishna </i>| All Rights Reserved</p></center>
</footer>
</html>